################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Beacon/FileContentIndex/72d32c46-ceab-4a19-929b-fc278300079c.vsidx
/.vs/Beacon/FileContentIndex/0cc3e0cf-17d2-4f68-a6b8-539289c59753.vsidx
/.vs/Beacon/v17/Browse.VC.db
/.vs/Beacon/v17/Browse.VC.db-shm
/.vs/Beacon/v17/Browse.VC.db-wal
/.vs/Beacon/v17/Browse.VC.opendb
