################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Beacon/FileContentIndex/72d32c46-ceab-4a19-929b-fc278300079c.vsidx
/.vs/Beacon/FileContentIndex/0cc3e0cf-17d2-4f68-a6b8-539289c59753.vsidx
/.vs/Beacon/v17/Browse.VC.db
/.vs/Beacon/v17/Browse.VC.db-shm
/.vs/Beacon/v17/Browse.VC.db-wal
/.vs/Beacon/v17/Browse.VC.opendb
/.vs/Beacon/FileContentIndex/62de016a-170f-4917-8fff-e8c783265fca.vsidx
/.vs/Beacon/FileContentIndex/3b0459bf-de94-4fde-a0cd-c3aa21831cb9.vsidx
/.vs/Beacon/FileContentIndex/8e202804-b723-4085-9efb-83efbeafcd26.vsidx
